extends layout/nav

block subContent

    // Page Content
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1.page-header Domo - Command Centre
            .row
                each command in commands
                    .col-lg-4
                        .panel.panel-green
                            .panel-heading
                                = command.text
                            .panel-body
                                fieldset(disabled='')
                                    .form-group.input-group
                                        span.input-group-addon
                                            i.fa.fa-volume-up.fa-fw
                                            i.fa.fa-comment.fa-fw
                                        input.form-control(type='text', placeholder= command.response)

                                ul.nav.nav-pills
                                    each task in command.Tasks
                                        li
                                            a(href= '#' + task.id, data-toggle='tab')
                                                = 'Taak ' + task.id
                                .tab-content
                                    each task in command.Tasks
                                        div(id= task.id).tab-pane.fade
                                            .row.top-buffer
                                            fieldset(disabled='')
                                                .form-group.input-group
                                                    span.input-group-addon
                                                        i.fa.fa-cog.fa-fw
                                                    input.form-control(type='text', placeholder= task.title)
                                                .form-group.input-group
                                                    span.input-group-addon
                                                        i.fa.fa-terminal.fa-fw
                                                    input.form-control(type='text', placeholder= task.cmd)
                                                a(href="/" + command.id + "/tasks/" + task.id + "/destroy", onclick="return confirm('Weet u zeker dat u taak #{task.title} wilt verwijderen?')") Verwijder taak
                            a(href='#')
                                .panel-footer
                                    span.pull-left Voeg nog een commando toe aan deze taak!
                                    span.pull-right
                                        i.fa.fa-arrow-circle-right
                                    .clearfix
            include functionality/voice