extends layout/nav

block subContent

    // Page Content
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1.page-header Domo - Command Centre
            .row

                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                | Voeg uw eigen commando's toe!
                            .panel-body
                                h2 Nieuw commando toevoegen!
                                form(action="/create", method="post")
                                    input(placeholder='Wat u wil zeggen als commando', type="text", name="text")
                                    br
                                    input(placeholder='Wat het systeem terugzegt na uitvoering', type="text", name="response")
                                    br
                                    input(type="submit")

                                h2 Taken

                                ul
                                each command in commands
                                    li
                                        = command.text
                                        | &nbsp;
                                        | (
                                        a(href="/" + command.id + "/destroy") Destroy
                                        | )
                                        ul
                                            li
                                                | Nieuwe taak maken!:
                                                form(action="/" + command.id + "/tasks/create", method="post", style="display: inline")
                                                    input(placeholder='Naam van de taak', type="text", name="title")
                                                    br
                                                    input(placeholder='Commandline commando', type="text", name="cmd")
                                                    br
                                                    input(type="submit")
                                            each task in command.Tasks
                                                li
                                                    = task.title
                                                    | &nbsp;
                                                    | (
                                                    a(href="/" + command.id + "/tasks/" + task.id + "/destroy") Destroy
                                                    | )
                include functionality/voice