extends layout/nav

block subContent

    // Page Content
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1.page-header Welcome !
            .row
                .col-lg-4.col-md-6
                    .panel.panel-primary
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-comment.fa-5x
                                .col-xs-9.text-right
                                    .huge 26
                                    div Commands used today!
                        a(href='#')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-4.col-md-6
                    .panel.panel-green
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-coffee.fa-5x
                                .col-xs-9.text-right
                                    .huge 12
                                    div Devices in use now!
                        a(href='#')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-4.col-md-6
                    .panel.panel-yellow
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-clock-o.fa-5x
                                .col-xs-9.text-right
                                    .huge
                                        #txt
                                    div System online time!
                        a(href='#')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix

                include functionality/voice