<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body>

<div id="wrapper">

    <!-- Navigation include -->
    <% include ../views/partials/nav %>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome <%= loggedInUser.username %>!</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Nieuw commando toevoegen!
                        </div>
                        <div class="panel-body">
                            <form action="/create" method="post">
                                <!--<fieldset disabled="">-->
                                    <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-comment fa-fw"></i>
                                    </span>
                                        <input type="text" placeholder="Wat het systeem hoorde" name="text"
                                               class="form-control" id="id1">
                                    </div>
                                <!--</fieldset>-->
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-volume-up fa-fw"></i>
                                    </span>
                                    <input type="text" placeholder="Gewenste response van het systeem" name="response"
                                           class="form-control">
                                </div>
                                <div class="button">
                                    <input id="create" type="submit" name="nieuw commando"
                                           value="nieuw commando aanmaken!" class="btn btn-success btn-md btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Voice interpreter voor commando's toevoegen
                        </div>
                        <div class="panel-body">
                            <p>
                                Soms kan het zijn dat u worden wilt toevoegen die niet gemakkelijk door het systeem worden herkend.
                                In dit scherm kunt u testen wat het systeem verstaat wanneer u uw beoogde commando inspreekt.
                                Als het resultaat bevalt kunt u deze direct opslaan met de door uzelf gekozen response die het
                                systeem zal geven wanneer het commando wordt aangeroepen.
                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>

<% include ../views/partials/end %>

</body>

<script>
    var speech = function (message) {
        if ('speechSynthesis' in window) {
            var msg = new SpeechSynthesisUtterance();
            var voices = speechSynthesis.getVoices();
            msg.lang = 'nl-NL';
            msg.voice = voices[0];
            msg.rate = 1; // 0.1 to 10
            msg.text = message;
            speechSynthesis.speak(msg);
        } else {
            alert(message);
        }
    }

    if (annyang) {

        var domo = function (param) {
            var elem = document.getElementById("id1");
            elem.value = param;
        }

        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {

            'Domo *param': domo

        };

        // Start Debug
        annyang.debug();

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    }

</script>

</html>