extends layout/nav

block subContent

    // Page Content
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1.page-header Domo - Command Centre
            .row
                .col-lg-4
                    .panel.panel-primary
                        .panel-heading
                            | nieuw commando toevoegen!
                        .panel-body
                            form(action="/create", method="post")
                                .form-group.input-group
                                    span.input-group-addon
                                        i.fa.fa-cog.fa-fw
                                    input.form-control(type='text', placeholder= 'Commando dat u wilt geven!', name='text')
                                .form-group.input-group
                                    span.input-group-addon
                                        i.fa.fa-terminal.fa-fw
                                    input.form-control(type='text', placeholder= 'Respons die het systeem zal geven!', name='response')
                                .button
                                    input#signin.btn.btn-primary.btn-sm.btn-block(type='submit', name='nieuw commando', value='nieuw commando aanmaken!')

                each command in commands
                    .col-lg-4
                        .panel.panel-green
                            .panel-heading
                                span.pull-left
                                    = command.text
                                span.pull-right
                                    a(href='#')
                                        i.fa.fa-trash
                                .clearfix
                            .panel-body
                                fieldset(disabled='')
                                    .form-group.input-group
                                        span.input-group-addon
                                            i.fa.fa-volume-up.fa-fw
                                            i.fa.fa-comment.fa-fw
                                        input.form-control(type='text', placeholder= command.response)

                                ul.nav.nav-pills
                                    each task in command.Tasks
                                        li
                                            a(href= '#' + task.id, data-toggle='tab')
                                                = 'Taak ' + task.id
                                .tab-content
                                    each task in command.Tasks
                                        div(id= task.id).tab-pane.fade
                                            .row.top-buffer
                                            fieldset(disabled='')
                                                .form-group.input-group
                                                    span.input-group-addon
                                                        i.fa.fa-cog.fa-fw
                                                    input.form-control(type='text', placeholder= task.title)
                                                .form-group.input-group
                                                    span.input-group-addon
                                                        i.fa.fa-terminal.fa-fw
                                                    input.form-control(type='text', placeholder= task.cmd)
                                                a(href="/" + command.id + "/tasks/" + task.id + "/destroy", onclick="return confirm('Weet u zeker dat u taak #{task.title} wilt verwijderen?')") Verwijder taak

                            a(href='#', data-toggle="modal" data-target="#" + command.id + 'k')
                                .panel-footer
                                    span.pull-left Voeg nog een taak toe aan dit commando!
                                    span.pull-right
                                        i.fa.fa-arrow-circle-right
                                    .clearfix

                            div(id= command.id + 'k').modal.fade(tabindex='0', role='dialog', aria-labelledby='myModalLabel2', aria-hidden='true')
                                .modal-dialog
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal')
                                                span(aria-hidden='true') ×
                                                span.sr-only Close
                                            h4#myModalLabel.modal-title Taak toevoegen aan: #{command.text}
                                        .modal-body
                                            form(method='POST', action="/" + command.id + "/tasks/create")
                                                .form-group.input-group
                                                    span.input-group-addon
                                                        i.fa.fa-cog.fa-fw
                                                    input.form-control(type='text', placeholder= 'Naam van de taak', name='title')
                                                .form-group.input-group
                                                    span.input-group-addon
                                                        i.fa.fa-terminal.fa-fw
                                                    input.form-control(type='text', placeholder= 'Commandline die het systeem zal uitvoeren', name='cmd')
                                                span.pull-right
                                                    button.btn.btn-success(type='submit') Taak toevoegen!
                                                span.pull-center
                                                    button.btn.btn-danger(type='button', data-dismiss='modal') Annuleren
                                                .clearfix
            include functionality/voice